CREATE USER '<%= node["mariadb"]["replication"]["user"] %>'@'%' IDENTIFIED BY '<%= node["mariadb"]["replication"]["password"] %>';

GRANT REPLICATION SLAVE ON *.* TO '<%= node["mariadb"]["replication"]["user"] %>';

FLUSH PRIVILEGES;