CHANGE MASTER TO 
    MASTER_HOST='<%= node["mariadb"]["replication"]["master"] %>', 
    MASTER_USER='<%= node["mariadb"]["replication"]["user"] %>', 
    MASTER_PASSWORD='<%= node["mariadb"]["replication"]["password"] %>', 
    MASTER_PORT=<%= node["mariadb"]["mysqld"]["port"] %>, 
    MASTER_USE_GTID=slave_pos,
    MASTER_CONNECT_RETRY=10;

START SLAVE;